<% content_for :nav do %>
    <li><%= link_to "Tri par Médecins", {:action => "medecins"} %></li>
    <li class="active"><%= link_to "Tri par Département", {:action => "departements"} %></a></li>
    <li><%= link_to "Tri par Nom", {:action => "nom"} %>
    <% end %>

        <h2>Tri par Département</h2>
    <%= form_tag :action => "medecins" do %>
        <table class="table table-hover">
            <caption>Veillez choisir le département dans lequel vous souhaitez voir les médecins</caption>
            <tbody>
                <% @medecins.each do |medecin| %>
                    <tr>
                        <td><%= radio_button_tag(:departement, medecin.departement) %></td>
                        <td><%= medecin.departement %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= submit_tag("Valider") %>
    <% end %>