<!DOCTYPE html>
<html>
    <head>
        <title>Kévin Suy</title>
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <style>
            body{
                padding-top: 60px;
            }
        </style>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <%= link_to "Médecins de France", {:action => "index"}, :class => "brand" %>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <%= yield :nav %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="page-header">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
